<style>
    table {
        margin: 0 auto;
        border-collapse: collapse;
    }
    table tr th,
    table tr td {
        padding: 20px;
        border: 1px solid #000
    }
    table tr th {
        background-color: gray;
    }
</style>